*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#wrapper{
    text-align: center;
}


input{
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}
button{
    margin-top: 10px;
    padding: 10px;
    width: 70px; 
}
